#define CIRCLE_TOKEN ""
#define FIRST_WIFI_NAME ""
#define FIRST_WIFI_PASSWORD ""

#define SECOND_WIFI_NAME ""
#define SECOND_WIFI_PASSWORD ""

#define RING_WIDTH 6
#define TRANSITION_TIME 2000.0
#define PIXEL_COUNT 16
#define PIN_LED_STRIP D3

#define LIGHT_BRIGHTNESS 100

#define MQTT_HOST ""
#define MQTT_PORT 1938
#define MQTT_USER ""
#define MQTT_PASSWORD ""

#define MQTT_TOPIC_STATE "work/netguru/lamp"
#define MQTT_TOPIC_COMMAND "work/netguru/lamp/set"


#define OTA_HOST "lampka"
#define OTA_PORT 8882
#define OTA_PASSWORD ""
